.form-layout {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
}

.form-layout h2 {
    color: rgb(106, 129, 105);
}

input {
    height: 30px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

input[type=submit] {
    height: 50px;
    background: rgb(106, 129, 105);
    border: none;
    color: white;
    cursor: pointer;
}

button {
    height: 50px;
    font-size: 1.5rem;
    background: transparent;
    color: rgb(106, 129, 105);
    border-color: rgb(106, 129, 105);
    cursor: pointer;
}