.navbar {
    background-color: rgb(106, 129, 105);
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
}

.navbar-home a {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: Garamond, serif;
    letter-spacing: 0.2rem;
    text-decoration: none;
}

.navbar-list a{
    color: rgb(255, 255, 255);
    font-family: Garamond, serif;
    font-size: 20px;
    padding-right: 3rem;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}