.navbar {
    background-color: rgb(106, 129, 105);
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
}

.navbar-home a {
    color: white;
    font-size: 26px;
    font-family: Garamond, serif;
    letter-spacing: 0.2rem;
    text-decoration: none;
}

.navbar-list a{
    color: white;
    font-family: Garamond, serif;
    font-size: 20px;
    padding-right: 3rem;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-list a.nav-selected {
    text-decoration: underline;
}

.navbar button {
    color: rgb(106, 129, 105);
    font-family: Garamond, serif;
    font-size: 20px;
    margin-right: 2rem;
    height: 30px;
    background-color: white;
    border: 2px solid rgb(180, 216, 177);
    border-radius: 10px;
}